.contactbutton {
    padding-top: 3%;
    padding-left: 10%;
}

.contactbutton2 {
    padding: 10px;
    color: #08fdd8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    border: #08fdd8 solid 1px;
    letter-spacing: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
}