@font-face {
    font-family: Coolvetica;
    src: url("../font/coolvetica.ttf");
}

html {
    scroll-behavior: smooth;
    overflow: visible;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

.sidenav {
    text-align: center;
    height: 100%;
    width: 3.1%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #181818;
    padding-top: 14%;
}

.sidenav a {
    text-align: center;
    display: block;
    color: grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    font-weight: bolder;
    text-decoration: white;
    padding-top: 40%;
    padding-bottom: 40%;
    transition: all 0.3s ease-out;
}

.navicon {
    font-size: 2.5vh;
}

.socialsbox {
    z-index: 8;
    bottom: 0;
    left: 0;
    position:fixed;
    transition: all 0.3s ease-out;
}

.socialicon {
    font-size: 2.5vh;
    position:fixed;
    bottom:1%;
    left: 0.9%;
    color:gray;
}

.socialicon2 {
    font-size: 2.5vh;
    position:fixed;
    bottom:5%;
    left: 0.9%;
    color:gray;
}

.socialicon3 {
    font-size: 2.5vh;
    position:fixed;
    bottom:9%;
    left: 0.9%;
    color:gray;
}

.socialicon4 {
    font-size: 2.5vh;
    position:fixed;
    bottom:13%;
    left: 0.9%;
    color:gray;
}

.socialicon:hover {
    color: #08fdd8;
    transition: all 0.3s ease-out;
}

.socialicon2:hover {
    color: #08fdd8;
    transition: all 0.3s ease-out;
}

.socialicon3:hover {
    color: #08fdd8;
    transition: all 0.3s ease-out;
}

.socialicon4:hover {
    color: #08fdd8;
    transition: all 0.3s ease-out;
}

.sidenav a:hover {
    color: #08fdd8;
    transition: all 0.3s ease-out;
}

.navicon:hover:before {
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}

.navicon:hover:after {
    font-family: 'Open Sans', sans-serif;
    content: attr(data-hover);
    font-size: 50%;
}

.sidenav .active {
    color: #08fdd8;
}

.sidenavicon {
    height: 8.6%;
    width: 3.1%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #070707;
    background-image: url("../images/antonin2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.move {
    padding-left: 3.1%;
}

strong {
    font-weight: bolder;
}

.fadeinanimate {
    animation: fadein ease 1s;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

.name {
    padding-top: 12%;
    color: white;
    text-align: left;
    padding-left: 10%;
    font-size: 73px;
    font-family: 'Coolvetica', sans-serif;
    line-height: 67px;
    margin-bottom: 1%;
}

.undername {
    font-size: 14px;
    letter-spacing: 3px;
    text-align: left;
    padding-left: 10%;
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.name2 {
    padding-top: 7.8%;
    color: #08fdd8;
    text-align: left;
    padding-left: 9.5%;
    font-size: 73px;
    font-family: 'Coolvetica', sans-serif;
    line-height: 67px;
    margin-bottom: 2.5%;
}

.undername2 {
    font-size: 16px;
    text-align: left;
    padding-left: 10%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
}
