@font-face {
    font-family: Coolvetica;
    src: url("../font/coolvetica.ttf");
}

html {
    scroll-behavior: smooth;
    overflow: visible;
}

body {
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

.sidenav {
    text-align: center;
    height: 100%;
    width: 3.1%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #181818;
    padding-top: 12%;
}

.sidenav a {
    text-align: center;
    display: block;
    color: grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    font-weight: bolder;
    text-decoration: white;
    padding-top: 80%;
    transition: all 0.3s ease-out;
}

.socialsbox {
    z-index: 8;
}

.socials {
    list-style-type: none;
    font-size: 500%;
    color: grey;
}

.navicon {
    font-size: 220%;
}

.sidenav a:hover {
    color: #08fdd8;
    transition: all 0.3s ease-out;
}

.navicon:hover:before {
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}

.navicon:hover:after {
    font-family: 'Open Sans', sans-serif;
    content: attr(data-hover);
    font-size: 50%;
}

.sidenav .active {
    color: #08fdd8;
}

.sidenavicon {
    height: 8.6%;
    width: 3.1%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #070707;
    background-image: url("../images/antonin2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.move {
    padding-left: 3.1%;
}

strong {
    font-weight: bolder;
}

.webtitle {
    font-weight: bolder;
    padding-top: 3%;
    color: white;
    text-align: center;
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 0 3px black;
}

.undertitle {
    padding-top: 10%;
    color: white;
    text-align: left;
    padding-left: 35%;
    font-size: 250%;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 0 3px black;
}

.underundertitle {
    color: #b0b0b0;
    text-align: left;
    font-size: 160%;
    font-family: 'Raleway', sans-serif;
    padding-left: 35%;
    padding-right: 20%;
}

.imagebanner {
    height: 33%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: #111;
    background-size: cover;
}

.fadeinanimate {
    animation: fadein ease 1s;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}