html {
    scroll-behavior: smooth;
    overflow: visible;
}

body {
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

.sidenav {
    text-align: center;
    height: 100%;
    width: 3.1%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #181818;
}

.sidenav a {
    text-align: center;
    display: block;
    color: grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    font-weight: bolder;
    transition-duration: 0.5s;
    text-decoration: white;
    padding-top: 50%;
}

.nav {
    text-align: center;
    padding-top: 150%;
}

.sidenav a:hover {
    color: white;
    transition-duration: 0.5s;
}

.sidenav .active {
    color: #08fdd8;
}

.sidenavicon {
    z-index: 5;
    font-size: 200%;
    color: white;
}

.sidenaviconbackground {
    height: 8.6%;
    width: 3.1%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #070707;
}

.move {
    padding-left: 3.1%;
}

strong {
    font-weight: bolder;
}

.webtitle {
    font-weight: bolder;
    padding-top: 3%;
    color: white;
    text-align: center;
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 0 3px black;
}

.undertitle {
    padding-top: 10%;
    color: white;
    text-align: left;
    padding-left: 35%;
    font-size: 250%;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 0 3px black;
}

.underundertitle {
    color: #b0b0b0;
    text-align: left;
    font-size: 160%;
    font-family: 'Raleway', sans-serif;
    padding-left: 35%;
    padding-right: 20%;
}

.imagebanner {
    height: 33%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: #111;
    background-size: cover;
}

.fadeinanimate {
    animation: fadein ease 1s;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}